.links {
  background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: silver;
}
.App-link {
  color: #61dafb;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
}

nav {
  margin-top: 2rem;
  display: flex;
  
  justify-content: center;
  align-items: center;
  
}


#root {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: stretch;
  gap: 2rem;
}

p {
  text-align: center;
  font-size: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
